GoogleAuthentication/GoogleAuthentication/GoogleAuthentication/Web References/calculator/calculator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="IsScriptMalicious">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="scriptInput" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsScriptMaliciousResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IsScriptMaliciousResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IsScriptMaliciousSoapIn">
    <wsdl:part name="parameters" element="tns:IsScriptMalicious" />
  </wsdl:message>
  <wsdl:message name="IsScriptMaliciousSoapOut">
    <wsdl:part name="parameters" element="tns:IsScriptMaliciousResponse" />
  </wsdl:message>
  <wsdl:portType name="calculatorSoap">
    <wsdl:operation name="IsScriptMalicious">
      <wsdl:input message="tns:IsScriptMaliciousSoapIn" />
      <wsdl:output message="tns:IsScriptMaliciousSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="calculatorSoap" type="tns:calculatorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsScriptMalicious">
      <soap:operation soapAction="http://tempuri.org/IsScriptMalicious" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="calculatorSoap12" type="tns:calculatorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsScriptMalicious">
      <soap12:operation soapAction="http://tempuri.org/IsScriptMalicious" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="calculator">
    <wsdl:port name="calculatorSoap" binding="tns:calculatorSoap">
      <soap:address location="https://localhost:44380/calculator.asmx" />
    </wsdl:port>
    <wsdl:port name="calculatorSoap12" binding="tns:calculatorSoap12">
      <soap12:address location="https://localhost:44380/calculator.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>